:root {
  --primary-colour: #ffecb4;
  --section-colour: #e5771e;
  --text-colour: #5a3d2b;
  --button-colour: #75c8ae;
  --heading-font: "Poppins", serif;
  --standard-font: "Poppins", serif;
}

body {
  background-color: var(--section-colour);
}

h1 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-style: normal;
  font-size: 72px;
  line-height: 2;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("./images/nottingham-market-square.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 260px 0;
}

header h2 {
  font-family: var(--standard-font);
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-family: var(--standard-font);
  font-size: 24px;
  line-height: 1.5;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

header a {
  font-family: var(--standard-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 32px;
  background-color: #fff;
  text-decoration: none;
  color: var(--text-colour);
  padding: 16px 32px;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 12px;
  }

  header a {
    font-size: 9px;
    padding: 8px 16px;
  }
}
