:root {
  --primary-colour: #ffecb4;
  --section-colour: #1c2e14;
  --text-colour: #5a3d2b;
  --button-colour: #75c8ae;
  --heading-font: "Poppins", serif;
  --standard-font: "Poppins", serif;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-style: normal;
  font-size: 72px;
  line-height: 2;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 40px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-footer {
  grid-template-columns: 1fr 2fr 2fr;
}

.card {
  background-color: #fff;
  margin: 30px 0;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.btn {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: var(--section-colour);
  text-decoration: none;
  border: none;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("./images/nottingham-market-square.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 260px 0;
}

header h2 {
  font-family: var(--standard-font);
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-family: var(--standard-font);
  font-size: 24px;
  line-height: 1.5;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

header a {
  font-family: var(--standard-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 32px;
  background-color: #fff;
  text-decoration: none;
  color: var(--text-colour);
  padding: 16px 32px;
}

main {
  background-color: #fff;
}

main h2 {
  font-family: var(--standard-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: var(--section-colour);
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: var(--section-colour);
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  color: var(--section-colour);
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
  color: var(--section-colour);
}

main p {
  font-family: var(--standard-font);
  font-weight: 400;
  font-size: 16px;
  color: var(--section-colour);
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-color: rgba(28, 46, 20, 0.3);
  text-align: center;
}

.top-feature img {
  max-width: 100%;
  object-fit: cover;
  object-position: 50% 30%;
  overflow: hidden;
  margin: auto;
  display: block;
}

footer {
  color: #fff;
  background-image: linear-gradient(
      rgba(28, 46, 20, 0.8),
      rgba(28, 46, 20, 0.8)
    ),
    url("./images/nottingham-robin-hood-statue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 40px;
}

footer h3 {
  font-family: var(--standard-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-family: var(--standard-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: #fff;
  opacity: 0.7;
  font-family: var(--standard-font);
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 12px;
  }

  header a {
    font-size: 9px;
    padding: 8px 16px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  .grid-footer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  section {
    padding: 30px;
  }
}

@media (max-width: 400px) {
  .grid-footer {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  section {
    padding: 30px;
  }
}
